# GeoFreak Environment Variables
APP_NAME=GeoFreak
APP_ENV=development
APP_HOST=0.0.0.0
APP_PORT=8000
APP_DEBUG=true

# Docker
DOCKER_IMAGE_NAME=geofreak
DOCKER_CONTAINER_NAME=geofreak-app

# Admin
ADMIN_USER=
ADMIN_PASS=
SECRET_KEY=
