{% extends "games/_base_game.html" %}



{% block game_area %}
<div class="map-game-container">
    <div class="map-game-input-bar" id="game-input-bar">
        <input type="text" id="answer-input" placeholder="Escribe el nombre de un país…" autocomplete="off">
        <button class="btn-reveal-map-bar" onclick="MapGame.reveal()">👁️ Desvelar</button>
        <div class="input-feedback" id="input-feedback"></div>
    </div>
    <div id="game-map" class="game-map"></div>
</div>
{% endblock %}

{% block game_scripts %}
<script src="/static/js/games/map-game.js"></script>
<script>
    MapGame.init({ mode: 'type', target: 'country' });
</script>
{% endblock %}
